<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Geek Writers - {{ page.title }}</title>

<link rel="alternate" type="application/atom+xml" title="Geek Writers Atom Feed" href="/feed/" />
<link rel="author" href="http://timgourley.com" title="About Tim Gourley" />

<link rel="stylesheet" href="/stylesheets/geekwriters.css" />
<link rel="stylesheet" href="/stylesheets/pygments.css" />
<link rel="stylesheet" href="/stylesheets/lavalamp.css" />

<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/jquery.lavalamp.js"></script>
<script type="text/javascript" src="/javascripts/jquery.easing.js"></script>
<script type="text/javascript" src="/javascripts/geekwriters.js"></script>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>
<body>
  <header>
    <hgroup>
      <h1>Geek Writers</h1>
      <h2>The Oklahoma Geek Writing Group</h2>
    </hgroup>
    <nav>
      <div id="navigation" class="lavaLamp">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/meetings.html">Meetings</a></li>
          <li><a href="/submit.html">Submit</a></li>
        </ul>
      </div>
    </nav>
  </header>
  
  <section>
    <div id="corkboard">
      <div id="container">
        <div id="content">

          {{ content }}
                 
        </div>
      </div>
    </div>
  </section>
  
  <footer>
    <div id="goodies">
      <nav class="links">
        <h3>Links</h3>
      	<ul>
          <li><a href="http://www.okccoco.com" title="Our awesome venue">OKC Coworking Collaborative</a></li> 
          <li><a href="http://www.meetup.com/geekwriters/" title="Find out when our next meeting is scheduled, and RSVP">Meetup Group</a></li>     	  
          <li><a href="http://www.scribd.com/group/81853-ok-geek-writers" target="_blank">Geek Writers Scribd Group</a></li>     	  
        	<li><a href="http://behindthegrammar.com/" title="To Infinitives and Beyond!" target="_blank">Behind the Grammar</a></li> 
          <li><a href="http://confidentwriting.com/" title="Boost your self-esteem" target="_blank">Confident Writing</a></li> 
          <li><a href="http://grammar.quickanddirtytips.com/" title="Quick and Dirty Tips for Better Writing" target="_blank">Grammar Girl</a></li> 
          <li><a href="http://www.nanowrimo.org/" title="50,000 words in 30 days" target="_blank">National Novel Writing Month</a></li> 
          <li><a href="http://www.scriptfrenzy.org/" title="100 Pages in 30 days" target="_blank">Script Frenzy</a></li> 
          <li><a href="http://writetodone.com/" title="Unmissable articles on writing" target="_blank">Write to Done</a></li> 
      	</ul>      
      </nav>
      <div class="okccoco">
        <h3>Our awesome venue!</h3>
        <a href="http://www.okccoco.com"><img src="/images/okccoco.png" width="200" height="162" alt="Oklahoma City Coworking Cooperative" /></a>
      </div>
      <div class="credits">
        <h3>Credits</h3>
        <p>Copyright &copy; 2011 Tim Gourley. All Rights Reserved.</p>
        <p>Site design by Tim Gourley.</p>
        <p>Generated by the <a href="https://github.com/mojombo/jekyll">Jekyll</a>.</p>
        <p>Code available on <a href="http://github.com/bratta/geekwriters">Github</a>.</p>
        <p>Agoo! -Mason</p>
      </div>
    </div>
  </footer>
</body>
</html>